In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("/content/loan_default_dataset.csv")

In [3]:
df = pd.read_csv("/content/loan_default_dataset.csv")
df

In [4]:
df = df.drop(['loan_id'], axis=1)
df

In [5]:
mean_age = df['Age'].mean()
df['Age'].fillna(mean_age, inplace=True)
display(df.head())

In [6]:
mode_employment = df['Employment Type'].mode()[0]
df['Employment Type'] = df['Employment Type'].fillna(mode_employment)
display(df.head())

In [7]:
missing_values = df.isnull().sum()
print("Missing values per column:")
print(missing_values)

In [8]:
print(missing_values)

In [9]:
print("Data types of columns with missing values:")
print(df[['Gender', 'Education', 'Marital Status', 'Annual Income', 'Job Stability (Years)', 'Loan Amount', 'Loan Type', 'Tenure (Months)', 'Interest Rate (%)', 'Previous Loans', 'Past Defaults', 'Debt-to-Income Ratio', 'Credit Utilization']].dtypes)

In [10]:
for col in ['Gender', 'Education', 'Marital Status', 'Loan Type']:
    mode_val = df[col].mode()[0]
    df[col] = df[col].fillna(mode_val)

for col in ['Annual Income', 'Job Stability (Years)', 'Loan Amount', 'Tenure (Months)', 'Interest Rate (%)', 'Previous Loans', 'Past Defaults', 'Debt-to-Income Ratio', 'Credit Utilization']:
    median_val = df[col].median()
    df[col] = df[col].fillna(median_val)

display(df.head())

In [11]:
missing_values_after_imputation = df.isnull().sum()
print("Missing values per column after imputation:")
print(missing_values_after_imputation)

In [12]:
missing_values_after_imputation = df.isnull().sum()
print("Missing values per column after imputation:")
print(missing_values_after_imputation)

In [13]:
df.head(10)

In [14]:
df.remove(df["default"])

In [15]:
df.drop(df["default"])

In [16]:
df.drop(df["Default"])

In [17]:
df.drop(columns=["Default"], inplace=True)
display(df.head())

In [18]:
df['Monthly Debt'] = df['Loan Amount'] / df['Tenure (Months)']
display(df.head())

In [19]:
df['Monthly Income'] = df['Annual Income'] / 12
display(df.head())

In [20]:
new_debt_to_income = df['Monthly Debt'] / df['Monthly Income']

In [21]:
new_debt_to_income = df['Monthly Debt'] / df['Monthly Income']

In [22]:
df['Debt-to-Income Ratio'] = new_debt_to_income
display(df.head())

In [23]:
new_debt_to_income = df['Monthly Debt'] / df['Monthly Income']

In [24]:
new_debt_to_income = df['Monthly Debt'] / df['Monthly Income']
df.head(10)

In [25]:
df = pd.to_csv("loan_default_dataset_cleaned.csv")

In [26]:
pd.to_csv("loan_default_dataset_cleaned.csv")

In [27]:
df.to_csv("loan_default_dataset_cleaned.csv", index=False)

In [28]:
from google.colab import files

files.download('loan_default_dataset_cleaned.csv')

In [29]:
from google.colab import files

files.download('loan_default_dataset_cleaned.csv')

In [30]:
df['Age'] = df['Age'].astype(int)
display(df.dtypes)

In [31]:
df.head(10)

In [32]:
df['Monthly Income'] = df['Monthly Income'].round().astype(int)
display(df.head())

In [33]:
df['Monthly Debt'] = df['Monthly Debt'].round(2)
display(df.head())

In [34]:
print(df['Tenure (Months)'].dtype)
print(df['Tenure (Months)'].head())

In [35]:
print(df['Tenure (Months)'].dtype)
print(df['Tenure (Months)'].head(30))

In [36]:
print(df['Tenure (Months)'].dtype)
print(df['Tenure (Months)'].head(100))

In [37]:
# Recheck if there are any decimal values
has_decimals = (df['Tenure (Months)'] != df['Tenure (Months)'].astype(int)).any()

if not has_decimals:
    df['Tenure (Months)'] = df['Tenure (Months hospitable'].astype(int)
    print("'Tenure (Months)' column converted to integer.")
else:
    print("'Tenure (Months)' column still has decimal values.")

display(df.head())

In [38]:
# Recheck if there are any decimal values
has_decimals = (df['Tenure (Months)'] != df['Tenure (Months)'].astype(int)).any()

if not has_decimals:
    df['Tenure (Months)'] = df['Tenure (Months)'].astype(int)
    print("'Tenure (Months)' column converted to integer.")
else:
    print("'Tenure (Months)' column still has decimal values.")

display(df.head())

In [39]:
df['Monthly Debt'] = df['Monthly Debt'].round(2)
display(df.head())

In [40]:
df['Monthly Income'] = df['Monthly Income'].round().astype(int)
display(df.head())

In [41]:
df.to_csv("loan_default_dataset_cleaned.csv")

In [42]:
from google.colab import files

# Download the cleaned CSV file
files.download('loan_default_dataset_cleaned.csv')

# Save and download the notebook file
%notebook "loan_default_notebook.ipynb"
files.download("loan_default_notebook.ipynb")

In [43]:
from google.colab import files
import os

# Download the cleaned CSV file
files.download('loan_default_dataset_cleaned.csv')

# Define the notebook path
notebook_path = '/content/loan_default_notebook.ipynb'

# Save the notebook file
%notebook {notebook_path}

# Download the notebook file
files.download(notebook_path)

In [44]:
from google.colab import files

# Define the notebook path
notebook_path = '/content/loan_default_analysis.ipynb'

# Save the notebook file
%notebook {notebook_path}

# Download the notebook file
files.download(notebook_path)